@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*added by wuelmer for login ui START*/
:root {
  --background: #ffffff;
  --foreground: #171717;

  --card: #ffffff;
  --card-foreground: #171717;

  --muted: #f4f4f5;          /* light gray */
  --muted-foreground: #52525b; /* darker gray */
  --border: #e4e4e7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --card: #111111;
    --card-foreground: #ededed;

    --muted: #18181b;
    --muted-foreground: #a1a1aa;
    --border: #27272a;
  }
}
/*added by wuelmer for login ui END*/